{% extends "orders/base.html" %}
{% block body %}
<body id="viewOrderBody">
  <br>
  <h1 class="mt-3">All orders</h1><br>

  <ul id="viewOrders">
  </ul>

  <div id="statuscheck">
  </div>
  
  <p id="demo"></p>
  {% for option in All_Order %}
    <script type="text/javascript">
        var current_user = "{{ user.username }}";
        var username = "{{ option.username }}";
        var size = "{{ option.size }}";
        var quantity = "{{ option.quantity }}";
        var type = "{{ option.type }}";
        var extra = "{{ option.extra }}";
        var smallprice = "{{ option.smallprice }}"
        var largeprice = "{{ option.largeprice }}"
        var price = "{{ option.price }}"
          if (size === "1") {
            count=0;
            for (var i = 0; i < extra.length; i++) {
              if (extra[i] === "+") {
                count+=1
              };
            };
            if (count>0) {
              price = (smallprice * quantity + (0.50 * count * quantity)).toFixed(2)
            }else if (count == 0){
              price = (smallprice * quantity).toFixed(2)
              extra = ""
            }

            const li = document.createElement('li');
            li.innerHTML = username + " - " + quantity + " Small " + type +  " " + extra + "<br>Price: $" + price;
            document.querySelector('#viewOrders').append(li);

          }else if (size === "2") {
            count=0;
            for (var i = 0; i < extra.length; i++) {
              if (extra[i] === "+") {
                count+=1
              };
            };
            if (count>0) {
              price = (largeprice * quantity + (0.50 * count * quantity)).toFixed(2)
            }else if (count == 0){
              price = (largeprice * quantity).toFixed(2)
              extra = ""
            };
            const li = document.createElement('li');
            li.innerHTML = username + " - " + quantity + " Large " + type +  " " + extra + "<br>Price: $" + price;
            document.querySelector('#viewOrders').append(li);

          }else{
            price = (price * quantity).toFixed(2)
            const li = document.createElement('li');
            li.innerHTML = username + " - " + quantity + " " + type + "<br>Price: $" + price;
            document.querySelector('#viewOrders').append(li);
          };
    </script>
  {% endfor %}
</body>
{% endblock %}
